# Dependências
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# TypeScript
*.tsbuildinfo

# macOS
.DS_Store

# Variáveis de ambiente (se criarem no futuro)
.env
.env.local

# Editor (opcional, remova se quiser compartilhar configs do VS Code)
.vscode/